header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 20px;
    background-color: #e07e3d; /* e7ac62 */
    border-bottom: 3px solid #000000;
}

body{
    background-color: #fcfcf0; /* e3c192 */
    color: #4a3432; /* 5b6470 */
    font-family: 'Roboto', sans-serif;
}

.nav_links{
    text-align: center;
    margin: 15px;
}

.nav_item a{
    text-decoration: none;
    color: #ebe5d5;
    text-align: center;
    margin: auto;
    height: 0;
}

.articlevertpics{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.articlevertpics img{
    width: 170px;
    margin: 20px auto;
}

.articlepics img{
    display: block;
    width: 250px;
    margin: 20px auto;
}

h1{
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #8f6c49;
}

h2{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
}

main p{
    display: flex;
    width: 300px;
    margin: auto;
    background-color: #ebe5d5;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    text-align: justify;
}

button{
    display: block;
    background-color: #4a3432; /* 5c90b5 */
    font-size: 25px;
    margin: 5px auto;
    border-radius: 10px;
    color: #ebe5d5;
    font-family: 'Roboto', sans-serif;
}

#current{ 
    font-weight: bold;
    font-size: 28px;
}

footer{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background-color: #000000;
    color: #ebe5d5;
    margin-top: 20px;
    font-weight: 700;
}

.gallery{
    display: grid;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
}

.gallery #vertical1{
    grid-column-start: 1;
    grid-column-end: 2;
}

.gallery #vertical2{
    grid-column-start: 2;
    grid-column-end: 3;
}

.gallery #horizontal{
    grid-column-start: 1;
    grid-column-end: 3;
}